@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    ::-webkit-scrollbar{
        width: 15px;
    }

    ::-webkit-scrollbar-thumb{
        background: #444444;
    }

    ::-webkit-scrollbar-thumb:hover{
        background: #a5a5a8;
    }

    html{
        scroll-behavior: smooth;
    }

    /* ------------------ PRELOADER ---------------------- */
    #preloader{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        min-height: 100vh;
        overflow: hidden;
        width: 100%;
        z-index: 999999;
        background-color: rgb(10, 10, 10);
    }

    #preloader_img{
        width: 20%;
        max-width: 150px;
        -webkit-animation: fade-In -0.9s linear 0.8s infinite alternate;
        animation: fade-In -0.9s linear 0.8s infinite alternate;
        
    }

    @keyframes fade-In {
        0%{
            opacity: 0.4;
            filter: brightness(100%)
        }
        100%{
            opacity: 1;
            filter: brightness(200%)
        }
    }

    .hidden{
        display: none !important;
    }

    /* nav links */
    .active{
        color: #fff;
    }
    .menu li::before{
        content: '';
        position: absolute;
        top: 30px;
        width: 0;
        height: 2.2px;
        background: #a5a5a8;
        transition: all 0.4s ease;
    }

    .menu li:hover::before{
        background: #fff;
    }

    .menu li#home:hover::before{
        width: 2.8em;
    }

    .menu li#portfolio:hover::before{
        width: 4em;
    }

    .menu li#contact:hover::before{
        width: 3.6em;
    }

    button, li{
        cursor: pointer;
        transition: all 0.7s ease 0s;
    }

    .arrow{
        animation: bounce 2s infinite 3s;
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100%{
            transform: translateY(0);
          }
          40%{
            transform: translateY(-30px);
          }
          60%{
            transform: translateY(-15px);
          }
    }
}